<?xml version="1.0" encoding="utf-8"?>

<!-- This is for the test project, NOT the main project. -->

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<!-- Output to console -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<threshold value="INFO"/> <!-- Limit log level of ConsoleAppender -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [%logger] - %message%newline%exception"/>
			</layout>
		</appender>

		<!-- Output detailed logs to a local file. Must enable this in root logger. -->
		<appender name="DebugLogAppender" type="log4net.Appender.FileAppender">
			<threshold value="ALL"/>
			<file value="DebugLog.txt" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [%logger] - %message%newline%exception" />
			</layout>
		</appender>

		<!-- Root logger configuration. At runtime, a new LogAppender is added in the local
			 oracles-disasm folder (oracles-disasm/LynnaLab/Logs), in addition to the appenders
			 listed here. -->
		<root>
			<!-- All logging is enabled at the root level. Configure threshold of appenders to set
				 the log levels sent to each output. -->
			<level value="ALL"/>

			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="DebugLogAppender"/>
		</root>

		<!-- Set amount of logging from FileParser specifically (it's very noisy) -->
		<logger name="LynnaLib.FileParser">
			<level value="WARN" />
		</logger>
	</log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
