<?xml version="1.0" encoding="utf-8"?>

<!-- This is for the test project, NOT the main project. -->

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<!-- Output to console -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"/>
			</layout>
		</appender>

		<!-- Output to local file -->
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="Log.txt" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline%exception" />
			</layout>
		</appender>

		<!-- Root logger (set log level here) -->
		<root>
			<level value="DEBUG"/> <!-- Change to "INFO" for more details, "DEBUG" for even more -->
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
